@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;500&display=swap');
*{
    font-family: 'Josefin Sans', sans-serif;
}
.nav-tno{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    background-origin: content-box;
    /*border-bottom: 1px solid #d6d8da;*/
}
.logo-tno img{
    width: 100%;
    max-width: 200px;
    min-width: 10px;
    margin: 30px;
}
.nav-tno ul{
    display: flex;
    justify-content: flex-end;
}
.nav-tno ul li{
    list-style: none;
    display: inline-flex;
    position: relative;
    margin: 0 20px;
    margin-right: 1.2rem;
    font-size: 1.05rem;
    text-align: left;
}
.nav-tno ul li a{
    text-decoration: none;
    color: black;
}
.nav-tno ul li a strong{
    color: #25bfee;
}
.nav-tno ul li a:hover{
    color: #25bfee;
    transition: 0.4s ease;
    text-shadow: 1px 1px 2px #25bfee;
}
/*BANNER*/
.banner-pag{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    align-content: center;
}
.video-intro {
    display: flex;
    align-content: center;
    vertical-align: center;
    margin: 0px -9px 0px -9px;
}
.video-intro video{
    width: 100%;
    height: auto;
}